body {
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: solid 3px black;
    width: 540px;
    height: 540px;
}

.gridDiv {
    aspect-ratio: 1;
    border: solid 0.5px black;
}