html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    min-height: 100%;
    text-align: center;
    gap: 50px;
}

.doodlesTitle {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    border: solid 3px lightgray;
    border-radius: 1%;
    width: 865px;
}

.rubik-doodle-shadow-regular {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-size: 64px;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: green;
}


.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#controlContainer {
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 270px;
    border: solid 3px lightgray;
    border-radius: 1%;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
}

#controlContainer * {
    color: green;
    font-size: 16px;
    font-weight: 500;
}

#controlContainer button {
    width: 200px;
    border: solid 1px green;
    border-radius: 1%;
    margin: 0;
    padding: 5px 0;
    background-color: lightgray;
}

.sliderDisplay {
    text-align: center;
    margin: 0;
}

#sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.gridBtnContainer #tglGridLines {
    background-color: green;
    color: lightgray;
}

.drawBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#colorPicker {
    width: 200px;
    height: 35px;
    padding: 3px;
    margin: 0;
    border: solid 1px green;
    border-radius: 0%;
}

.printContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.noteDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    border: solid 1px black;
    border-radius: 1%;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: solid 3px lightgray;
    border-radius: 1%;
    width: 540px;
    height: 540px;
    background-color: white;
}

.gridDiv {
    aspect-ratio: 1;
    border: solid 0.5px black;
    user-select: none;
}

@media print {
    body * {
        visibility: hidden;
    }
    .printable, .printable * {
        visibility: visible;
    }
    .printable {
        position: absolute;
        top: 0;
        left: 0;
    }
}